* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: inline-block;
    width: 100%;
}
 /*added a display: inline-block and a width of 100% so that the tabs at the top of the page would stay contained within the section and stay in line when the screen is adjusted. Better for smart phone users as well. */

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Consolidated code: deleted the ".header h1 .seo" class and turned it into a style element */

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}
/* Consolidated code: deleted the redundant class ".header div ul"*/

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Consolidated the code: I combined the two classes ".benefit-brand" and ".benefit-cost" into "benefit-lead" so there would only need to be one class. */


.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Consolidated the code: I made sure that ".benefit-brand h3" and "benefit-cost h3" were combined into the one class as a css selector */


.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Consolidated the code: I combined the two classes ".benefit-brand img" and ".benefit-cost img" into benefit-lead so there would only need to be one class. */ 

@media screen and (max-width: 50px) {
 .content-item {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff; 
    background-size: contain;
 }}
 /* Created a media query for the webpage to be responsive to different screen sizes, such as an ipad or iphone.*/


.content-item {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff; 
    background-size: contain;
}
    /* margin-top: 20px; */
    /* max-height: 300px; */
    /* flex: 0 0 100px; */
    /* display: flex; */
    /* flex: 0 0 50%; */
    /* contain: size; */
/* Tried the above commands and many others, was unable to get the content (picture heading and paragraph to fall within each blue box no matter what adjustment you give the screen */
/* Consolidating the code: I downsized three separate classes to one class name with the same dimensions and effects */


.content img {
    max-height: 200px;
}
/* Consolidateed code: took out the ".search-engine-optimization img", "online-reputation-management img", and "social-media-marketing img", and combined the class and element img */

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Consolidated code: took out search-engine-optimization class and added the h2 to the .content class which was already covering all the div */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
